{% extends 'shop/layouts/main.html' %}
{% block title %}
Online shopping
{% endblock title %}
{% block content %}

{% include 'shop/inc/slider.html' %}
  <div class="container" style="margin-top:70px; margin-bottom: 15px;" >
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3"> Latest Offfers</h4>
        <hr style="border-color:#b8bfc2;">
      </div>
      {% for item in products %}
      <div class="col-md-4 col-lg-3">
        <div class="card my-3" style="background-color: rgb(241, 236, 236); border-radius: 20px; height: 405px;">
          <img src="{{item.product_image.url}}" style="margin-top: 10px; height: 250px; object-fit:contain;" class="card-image-top" alt="Categories">
          <a href="{% url 'product_details' item.category.name item.name %}">
            <hr style="border-color:#a0a3a5;">
            <div class="card-body">
            <h5 class="card-title text-primary">{{ item.name }}</h5>
            <p class="card-text">
              <span class="float-start old_price"><s>Rs.{{ item.original_price | stringformat:'d'}}</s></span>
              <span class="float-end new_price">Rs.{{ item.selling_price | stringformat:'d' }}</span>
            </p>
          </div>
        </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
